<!DOCTYPE html>
<html>
<head>
    <title><%= competition.competition_name %></title>
    <link href="/public/css/bootstrap4.5.2.css" rel="stylesheet">
    <script src="/public/js/clientCompetition.js" type="text/javascript"></script>
</head>
<body>
<%- include ('partials/navbar.ejs',{user}) %>
<div class="container-xl mt-5">
    <h1><%= competition.competition_name %></h1>
    <div class="container-xs mt-5" id="competition">
        <div class="row">
            <div class="col">
                <div class="container-sm">
                    <h2>Info and Actions</h2>
                    <div>Owner of competition: <%=competition.owner_email%></div>
                    <div>Scoring system (win/draw/lose):  <%= competition.won_points %>/<%= competition.neutral_points %>/<%= competition.loss_points %>
                    </div>
                    <div class="mt-2">
                        <%if(user !== null && user.email == competition.owner_email){%>
                            <button type="button" class="btn btn-primary" competition-id="<%=competition.competition_id%>" onclick="deleteCompetition(this)">Delete</button>
                        <%};%>
                            <button type="button" class="btn btn-primary" onclick="copyLink()">Copy competition link</button>
                    </div>
                </div>
                <%- include ('partials/leaderboard.ejs',{leaderboard,competitors}) %>
            </div>
            <div class="col">
    <div class="container-sm">
        <h2>Matches</h2>
        <% let matches_numbers = matches.map((match) => match.round_no).filter((val,idx,arr) => arr.indexOf(val)===idx)%>
        <% matches_numbers.sort().forEach(round_number => { %>
            <% round_matches = matches.filter((val)=>val.round_no === round_number)%>
            <% round_matches.sort((a,b) => a.match_id - b.match_id)%>
            <div class="container mt-5">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-1"></th>
                        <th class="col-4 text-center">Round <%= round_number%></th>
                        <th class="col-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(let match of round_matches){%>
                        <% if(match.competitor1_name === null || match.competitor2_name == null){continue;} %>
                    <tr>
                        <td class="col-1"><%= match.competitor1_name %></td>
                        <td class="text-center col-4"><%- include ('partials/outcome.ejs',{match}) %></td>
                        <td class="text-right col-1"><%= match.competitor2_name %></td>
                        <% } %>
                    </tbody>
                </table>
            </div>
        <% }); %>
    </div>
            </div>
            </div>
    </div>

</div>
</body>
</html>
